table, th, td{
    border: 1px solid rgb(17, 128, 159);
    border-collapse: collapse;
    padding: 5px;
}
thead{
    background-color: rgb(12, 146, 195);
}
button, .buscar{
    width: 40%;
    padding:10px;
    border: 1px solid gray;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 10px;
}
.buscar:focus{
    outline: none;
    border: 1px solid rgb(14, 209, 244);
    box-shadow: 1px 1px 10px rgb(205, 255, 249);
}
button{
    cursor: pointer;
}
button:hover{
    background-color: rgb(18, 132, 152);
    border: none;  
}
.filtro{
    display: none;
}